//@import "../lib/base/normalize-css/normalize.css";
@import "../../lib/base/_base.scss";
@import "../utils/clearfix";

.footer {
  @extend .clearfix;
  @include span-columns(10 of 10);
  background: #191919;
  color: #FFF;
  height: 100%;
  padding: 2em 0em;

  @include media($medium-screen-up) {
    @include span-columns(16 of 16);
  }
}

.footer-content {
  @include span-columns(7 of 10);
  @include shift(1.5);

  @include media($medium-screen-up) {
    @include span-columns(14 of 16);
    @include shift(1);
  }
}

.texto-contato {
  width: 100%;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 1.5em;

  @include media($medium-screen-up) {
    @include span-columns(10 of 14);
    @include shift(2);
    float: left;
    text-align: right;
  }
}

.link-contato, .telefone-contato {
  color: #FFF;
  display: block;
  font-weight: 900;

  &:hover, &:active, &:focus {
    color: #FFF;
    text-decoration: underline;
  }
}

.logo-wrapper {
  @include span-columns(7 of 10);
  @include shift(1.5);


  @include media($medium-screen-up) {
    @include span-columns(2 of 14);
    @include shift(0);
    height: 100%;
  }
}

.footer-logo {
  @include media($medium-screen-up) {
    height: 60px;
    float: right;
  }
}
