//@import "../lib/base/normalize-css/normalize.css";
@import "../../lib/base/_base.scss";
@import "../utils/clearfix";

.footer {
  @extend .clearfix;
  @include span-columns(16 of 16);
  background: #191919;
  color: #FFF;
  height: 100%;
  padding: 2em 0em;
}

.footer-content {
  @include span-columns(9 of 10);
  @include shift(0.5);

  @include media($medium-screen-up) {
    height: 100%;
    //float: right;
    margin: 1.5em 2.5em;
  }
}

.texto-contato {
  width: 100%;
  font-size: 1.4em;
  text-align: center;

  @include media($medium-screen-up) {
    float: left;
    width: 85%;
    text-align: right;
  }
}

.link-contato, .telefone-contato {
  color: #FFF;
  display: block;
  font-weight: 900;

  &:hover, &:active, &:focus {
    color: #FFF;
    text-decoration: underline;
  }
}

.logo-wrapper {
  @include span-columns(10 of 10);

  @include media($medium-screen-up) {
    height: 100%;
    float: right;
    width: 12%;
  }
}

.footer-logo {
  @include media($medium-screen-up) {
    height: 60px;
  }
}
