//@import "../lib/base/normalize-css/normalize.css";
@import "../../lib/base/_base.scss";

.header {
  @extend .clearfix;
  background: #191919;
  height: 100%;

  @include media($medium-screen-up) {
    height: 140px;
  }
}

.header-inner {
  @include media($medium-screen-up) {
    @include span-columns(14 of 16);
    @include shift(1);
  }
}

.header-logo {
  @include span-columns(8 of 10);
  @include shift(1);

  @include media($medium-screen-up) {
    @include span-columns(6 of 16);
    @include shift(0);
    //margin-bottom: 2em;
  }
}

.cadibode-logo{
  @include span-columns(9 of 10);
  @include shift(0.5);
  margin-top: 1em;
  margin-bottom: 1em;

  @include media($medium-screen-up) {
    @include span-columns(2);
    @include shift(0);

  }
}

.social-media {
  @include span-columns(7.5 of 10);
  @include shift(1.25);
  margin-bottom: 1em;

  @include media($medium-screen-up) {
    @include span-columns(4.5 of 16);
    @include shift(0);
    padding-top: 3em;
    float: right;
  }
}

.social-media-icons {
  display: block;
  @include span-columns(2 of 10);

  @include media($medium-screen-up) {
    display: inline-block;
    //width: 100%;
  }
}

.social-media-icons--yt {
  @extend .social-media-icons;
  min-width: 80px;
  margin-top: 0.20em;
}
