//@import "../lib/base/normalize-css/normalize.css";
@import "../../lib/base/_base.scss";

.main {
  background: url("#{$img-url}/FUNDOLAND.jpg") no-repeat top left;
  background-position: 0px -250px;
  background-size: cover;
  background-repeat: repeat-y;
  height: 300px;

  @include media($medium-screen-up) {
    height: 750px;
  }
}

.main-inner {
  @include media($medium-screen-up) {
    @include span-columns(14 of 16);
    @include shift(1);
  }
}

.cadi-video {
  @include span-columns(13 of 14);
  @include shift(0.5);
}

.embed-container {
  margin-top: 2em;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
